Predicting GPA based on SAT

Import the data

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving GPA SAT.csv to GPA SAT (1).csv

In [ ]:
import pandas as pd
import io
data = pd.read_csv(io.BytesIO(uploaded['GPA SAT.csv']))

Preprocessing

In [ ]:
data.head()

    SAT   GPA
0  1714  2.40
1  1664  2.52
2  1760  2.54
3  1685  2.74
4  1693  2.83

In [ ]:
data.describe()

               SAT        GPA
count    84.000000  84.000000
mean   1845.273810   3.330238
std     104.530661   0.271617
min    1634.000000   2.400000
25%    1772.000000   3.190000
50%    1846.000000   3.380000
75%    1934.000000   3.502500
max    2050.000000   3.810000

In [ ]:
x=data['SAT']
y=data['GPA']
x=x.values.reshape(-1,1)

Build a model

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import f_regression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [ ]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
model.score(x_train,y_train)

0.38409069387684003

In [ ]:
pvalue=f_regression(x_train,y_train)[1]
pvalue.round(3)

array([0.])

Prediction

In [ ]:
y_pred=model.predict(x_test)

In [ ]:
mean_squared_error(y_test, y_pred)

0.027234763549861467

In [ ]:
y_test.shape

(21,)

In [ ]:
y_pred

array([3.21157646, 3.02131822, 3.03967647, 3.29335412, 3.47359878,
       3.30169878, 3.18487355, 3.34175315, 3.32005704, 3.05803472,
       3.40517257, 3.21324539, 3.52032887, 3.61712692, 3.22659685,
       3.22826578, 3.33173956, 3.07138617, 3.52366673, 3.50697741,
       3.25329976])

In [ ]:
Summary=pd.DataFrame({'Actual':y_test,'Predicted':y_pred}).reset_index(drop=True)
Summary

    Actual  Predicted
0     3.37   3.211576
1     3.20   3.021318
2     3.17   3.039676
3     3.28   3.293354
4     3.28   3.473599
5     3.37   3.301699
6     3.19   3.184874
7     3.42   3.341753
8     3.17   3.320057
9     2.74   3.058035
10    3.50   3.405173
11    3.59   3.213245
12    3.76   3.520329
13    3.65   3.617127
14    3.19   3.226597
15    3.28   3.228266
16    3.31   3.331740
17    2.83   3.071386
18    3.49   3.523667
19    3.34   3.506977
20    3.41   3.253300

In [ ]:
Summary['Error']=(Summary['Actual']-Summary['Predicted'])**2
Summary['Error']=Summary['Error'].round(3)
Summary

    Actual  Predicted  Error
0     3.37   3.211576  0.025
1     3.20   3.021318  0.032
2     3.17   3.039676  0.017
3     3.28   3.293354  0.000
4     3.28   3.473599  0.037
5     3.37   3.301699  0.005
6     3.19   3.184874  0.000
7     3.42   3.341753  0.006
8     3.17   3.320057  0.023
9     2.74   3.058035  0.101
10    3.50   3.405173  0.009
11    3.59   3.213245  0.142
12    3.76   3.520329  0.057
13    3.65   3.617127  0.001
14    3.19   3.226597  0.001
15    3.28   3.228266  0.003
16    3.31   3.331740  0.000
17    2.83   3.071386  0.058
18    3.49   3.523667  0.001
19    3.34   3.506977  0.028
20    3.41   3.253300  0.025