SAT based on GPA and Attendence

Import the data

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving SAT GPA Attendence.csv to SAT GPA Attendence (1).csv

In [ ]:
import pandas as pd
import io
data = pd.read_csv(io.BytesIO(uploaded['SAT GPA Attendence.csv']))

Preprocessing

In [ ]:
data.head()

    SAT   GPA Attendance
0  1714  2.40         No
1  1664  2.52         No
2  1760  2.54         No
3  1685  2.74         No
4  1693  2.83         No

In [ ]:
data.describe()

               SAT        GPA
count    84.000000  84.000000
mean   1845.273810   3.330238
std     104.530661   0.271617
min    1634.000000   2.400000
25%    1772.000000   3.190000
50%    1846.000000   3.380000
75%    1934.000000   3.502500
max    2050.000000   3.810000

In [ ]:
data['Attendance']=data['Attendance'].map({'Yes':1,'No':0})
data.head()

    SAT   GPA  Attendance
0  1714  2.40           0
1  1664  2.52           0
2  1760  2.54           0
3  1685  2.74           0
4  1693  2.83           0

In [ ]:
x=data[['SAT','Attendance']]
y=data['GPA']

Build a model

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import f_regression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler=StandardScaler()
scaler.fit(x)
x_scaled=scaler.transform(x)

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20)

In [ ]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
model.score(x_train,y_train)

0.5361595184272852

In [ ]:
pvalue=f_regression(x_train,y_train)[1]
pvalue.round(3)

array([0., 0.])

Prediction

In [ ]:
y_pred=model.predict(x_test)

In [ ]:
mean_squared_error(y_test, y_pred)

0.025516347282602596

In [ ]:
Summary=pd.DataFrame({'Actual':y_test,'Predicted':y_pred}).reset_index(drop=True)
Summary

    Actual  Predicted
0     3.62   3.691798
1     3.02   3.076795
2     2.74   3.009378
3     3.37   3.252079
4     3.00   3.115897
5     3.34   3.609549
6     3.60   3.582583
7     3.49   3.175224
8     3.47   3.307520
9     3.19   3.383028
10    3.28   3.156347
11    3.37   3.206236
12    3.51   3.527300
13    2.91   2.989152
14    3.42   3.476063
15    3.54   3.582583
16    2.83   3.020164

In [ ]:
Summary['Error']=(Summary['Actual']-Summary['Predicted'])**2
Summary['Error']=Summary['Error'].round(3)
Summary

    Actual  Predicted  Error
0     3.62   3.691798  0.005
1     3.02   3.076795  0.003
2     2.74   3.009378  0.073
3     3.37   3.252079  0.014
4     3.00   3.115897  0.013
5     3.34   3.609549  0.073
6     3.60   3.582583  0.000
7     3.49   3.175224  0.099
8     3.47   3.307520  0.026
9     3.19   3.383028  0.037
10    3.28   3.156347  0.015
11    3.37   3.206236  0.027
12    3.51   3.527300  0.000
13    2.91   2.989152  0.006
14    3.42   3.476063  0.003
15    3.54   3.582583  0.002
16    2.83   3.020164  0.036