realestate price based on size, year, view

Import the data

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving real_estate_price_size_year_view.csv to real_estate_price_size_year_view (1).csv

In [ ]:
import pandas as pd
import io
data = pd.read_csv(io.BytesIO(uploaded['real_estate_price_size_year_view.csv']))

Preprocessing

In [ ]:
data.head()

        price     size  year         view
0  234314.144   643.09  2015  No sea view
1  228581.528   656.22  2009  No sea view
2  281626.336   487.29  2018     Sea view
3  401255.608  1504.75  2015  No sea view
4  458674.256  1275.46  2009     Sea view

In [ ]:
data.describe()

               price         size         year
count     100.000000   100.000000   100.000000
mean   292289.470160   853.024200  2012.600000
std     77051.727525   297.941951     4.729021
min    154282.128000   479.750000  2006.000000
25%    234280.148000   643.330000  2009.000000
50%    280590.716000   696.405000  2015.000000
75%    335723.696000  1029.322500  2018.000000
max    500681.128000  1842.510000  2018.000000

In [ ]:
data['view']=data['view'].map({'Sea view':1,'No sea view':0})
data.head()

        price     size  year  view
0  234314.144   643.09  2015     0
1  228581.528   656.22  2009     0
2  281626.336   487.29  2018     1
3  401255.608  1504.75  2015     0
4  458674.256  1275.46  2009     1

In [ ]:
x=data[['size','view']]
y=data['price']

Build a model

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import f_regression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler=StandardScaler()
scaler.fit(x)
x_scaled=scaler.transform(x)

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20)

In [ ]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
model.score(x_train,y_train)

0.9081711788704119

In [ ]:
Adj_r2 = 1-(1-0.892444267821555)*(80-1)/(80-2-1)
Adj_r2

0.8896506124402966

feature 'year' is not significant (p=0.401) (p >> 0.05)
R2=0.89 Adj R2=0.88
'year' is removed

In [ ]:
pvalue=f_regression(x_train,y_train)[1]
pvalue.round(3)

array([0., 0.])

Prediction

In [ ]:
y_pred=model.predict(x_test)

In [ ]:
mean_squared_error(y_test, y_pred)

1206753467.119074

In [ ]:
Summary=pd.DataFrame({'Actual':y_test,'Predicted':y_pred}).reset_index(drop=True)
Summary

        Actual      Predicted
0   362519.720  378256.374479
1   376253.808  357268.386627
2   234314.144  215174.658816
3   338078.168  310788.835050
4   286161.600  285016.596870
5   302000.920  271067.004945
6   191486.896  189002.716070
7   215472.104  226651.662699
8   298926.496  278487.000650
9   225451.984  223650.190752
10  258637.008  299720.209878
11  262477.856  287875.247847
12  204302.976  212965.396937
13  300061.480  287875.247847
14  294582.944  285016.596870
15  365863.936  369378.906399
16  418753.008  296886.106255
17  287350.000  315752.115922
18  257828.416  273347.677309
19  494778.992  543216.826362

In [ ]:
Summary['Error']=(Summary['Actual']-Summary['Predicted'])**2
Summary['Error']=Summary['Error'].round(3)
Summary

        Actual      Predicted         Error
0   362519.720  378256.374479  2.476423e+08
1   376253.808  357268.386627  3.604462e+08
2   234314.144  215174.658816  3.663199e+08
3   338078.168  310788.835050  7.447077e+08
4   286161.600  285016.596870  1.311032e+06
5   302000.920  271067.004945  9.569071e+08
6   191486.896  189002.716070  6.171150e+06
7   215472.104  226651.662699  1.249825e+08
8   298926.496  278487.000650  4.177730e+08
9   225451.984  223650.190752  3.246459e+06
10  258637.008  299720.209878  1.687829e+09
11  262477.856  287875.247847  6.450275e+08
12  204302.976  212965.396937  7.503754e+07
13  300061.480  287875.247847  1.485043e+08
14  294582.944  285016.596870  9.151500e+07
15  365863.936  369378.906399  1.235502e+07
16  418753.008  296886.106255  1.485154e+10
17  287350.000  315752.115922  8.066802e+08
18  257828.416  273347.677309  2.408475e+08
19  494778.992  543216.826362  2.346224e+09